<html class="login-page">
  <div id="login-container">
    <div id="login-form">
      <h1>Log In</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" , id: 'login-submit'%>
      </div>
      <% end %>
    </div>
  </div>
  <div id= "login-stats-watering-header">
    <div>
      <h4>Watering Que</h4>      
      <h1><%= @data_sheets_watering_que.count %></h1>
    </div>
  </div>
  <div id= "login-stats-transplanting-header">
    <div>
      <h4>Transplant Que</h4>
      <h1><%= @data_sheets_transplanting_que.count %></h1>
    </div>
  </div>
</html>

