<div class= "content-container">
  <%= form_for @location, as: :location, :url => {:controller => :locations, action: :update} do |f| %>
    <h1>Edit <%=@location.name %>'s Location Information</h1>
    <% if @location.errors.any? %>
      <ul>
        <% @location.errors.full_messages.each do |message| %>
          <li class= "error-messages"><%= message %> </li>
        <% end %>
      </ul>
    <% end %>
    <%= f.label :location_name, "Location Name" %>
    <%= f.text_field :name, value: @location.name, placeholder: @location.name, required: true %>
    <%= f.label :total_racks, "Total Active Racks in Location" %>
    <%= f.number_field :total_rack, value: @location.total_rack, placeholder: @location.total_rack, required: true %>
    <%= f.label :total_trays_per_rack, "Total Active Trays in a Rack" %>
    <%= f.number_field :total_tray_per_rack, value: @location.total_tray_per_rack, placeholder: @location.total_rack, required: true %>
    <%= f.label :trays_per_storage_row, "Total Trays Per Rack Row" %>
    <%= f.number_field :trays_per_storage_row, value: @location.trays_per_storage_row, placeholder: @location.trays_per_storage_row, required: true %>
    <%= f.label :total_hood_days, "Total Number of Days with Hood" %>
    <%= f.number_field :total_hood_days, value: @location.total_hood_days, placeholder: @location.total_rack, required: true %>
    <%= f.label :entry_per_day, "Total Number of Data Entries Per Day" %>
    <%= f.number_field :entry_per_day, value: @location.entry_per_day, placeholder: @location.entry_per_day, required: true %>

    <%= f.submit 'Save Changes' %>
  <% end %>
</div>