<!DOCTYPE html>
<html>
  <head>
    <title>TrueVision</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login.js', 'data-turbolinks-track': 'reload', defer:true %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload', defer:true %>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if current_user %>
    <nav id= "sidebar">
      <div class= "wrapper">
        <div class= "sidebar">
          <div class = "homepage-button">
            <%= link_to root_path do %>
              <h3>Dashboard</h3>
            <% end %>
          </div>
          <ul>
            <li>
              <%= link_to data_sheet_index_path do %>
                Data Sheets <i class= "fas fa-table"></i>
              <% end %>
            </li>
            <li>
              <%= link_to watering_que_path do %>
                Watering Que 
                <i class= "fas fa-hand-holding-water"></i>
                <span class= "badge"><%= @data_sheets_watering_que.any? ? @data_sheets_watering_que.count : 0 %></span>
              <% end %>
            </li>
            <li>
              <%= link_to transplanting_que_path do %>
                Transplanting Que 
                <i class= "fas fa-tree"></i>
                <span class= "badge"><%= @data_sheets_transplanting_que.any? ? @data_sheets_transplanting_que.count : 0 %></span>
              <% end %>
            </li>
            <li>
              <%= link_to edit_clone_feed_path do %>
                Set Clone Feed  <i class= "fas fa-tint"></i>
              <% end %>
            </li>
            <% if current_user.authorization_level == "Admin" %>
            <li>
              <%= link_to strain_index_path do %>
              Strains <i class= "fas fa-cannabis"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_location_path do %>
                Edit Location <i class= "fas fa-map-marked-alt"></i>
              <% end %>
            </li>
            <li>
              <%= link_to create_new_user_path do %>
                Create User <i class= "fas fa-user"></i>
              <% end %>
            </li>
            <% end %>
            <li>
              <%=link_to destroy_user_session_path, data: {turbo_method: :delete}  do %>
                Sign Out <i class= "fas fa-sign-out-alt"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class= "main_content">
            <%= yield %>
        </div>
      </div>
    </nav>
    <% else %>
    <%= yield %>
    <% end %>
  </body>
</html>
